body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(228, 227, 227);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.form-v4-content {
  max-width: 850px;
  box-shadow: 0px 8px 20px0px rgba(0, 0, 0, 0.15);
}

.form-left p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
.form-detail {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.form-detail input {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.form-detail input:focus {
  border-color: #53c83c;
}

.btn-register:hover {
  color: darkblue;
}
.card {
  background-color: #f0f0f0;
}
.bgback {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.bgback .row1 {
  display: inline-flex;
  margin-top: calc(calc(max(9vw, 11vh)) * -0.32);
  margin-left: calc(calc(max(9vw, 11vh)) * -0.5);
}
.bgback .row1 .hexagon {
  position: relative;
  background-color: white;
  width: calc(max(9vw, 11vh));
  height: calc(calc(max(9vw, 11vh)) * 1.1);
  margin: calc(calc(max(9vw, 11vh)) * 0.04) calc(calc(max(9vw, 11vh)) * 0.02);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  text-align: center;
  color: rgba(15, 15, 15, 1);
  line-height: calc(calc(max(9vw, 11vh)) * 1.1);
  font-size: 2vw;
  transition: 1s;
}
.blank {
  background: transparent;
}
.bgback .row1:nth-child(even) {
  margin-left: calc(calc(max(9vw, 11vh)) * 0.02);
}
.curser {
  position: absolute;
  width: calc(calc(max(9vw, 11vh)) * 1.5);
  height: calc(calc(max(9vw, 11vh)) * 1.5);
  border-radius: 50%;
  animation: anim 2s linear infinite;
  visibility: hidden;
  transform: translate(-50%, -50%);
}
@keyframes anim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
body:hover .curser {
  background: radial-gradient(
    circle,
    rgb(0, 76, 255) 0%,
    rgba(0, 255, 0, 0) 70%
  );
  visibility: visible;
}
