body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.page-content {
  background-image: url("../assets/bg-01.jpg");
  background-size: cover;
}

.form-v4-content {
  max-width: 850px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.form-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.form-left p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
.form-detail input {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.form-detail input:focus {
  border-color: #53c83c;
}

.btn-register:hover {
  color: darkblue;
}
span {
  /* display: none; */
}
